body {
	font-size:0.9em;	
}
body.black{
	background-color: black;
	color:white;
}
body.black a{
	color:white;
}
body.black a:hover{
	color:red;
}
nav{
	float:left;
}
article{
	float:left;
}
footer{
	clear:both;
}
ul{
	list-style:none;
	padding-left:0;
	padding-right:20px;
}
